# /etc/systemd/system/bitcoin.service
[Unit]
Description=Bitcoin node
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
ExecStart=/bin/sh -c '\
 docker run --name=%p_$(head -c5 /dev/urandom | base32) --rm \
 --net=host \
 -v /tmp/bitcoin-data:/bitcoin/data:rw \
 -e CONF_RPCPASSWORD=${CONF_RPCPASSWORD} \
 ${IMAGE}'
ExecStop=/bin/sh -c 'docker stop -t 3 "$(docker ps -q --filter=name=%p_)"'

[Install]
WantedBy=multi-user.target
